.menu h2{
  font-family: "avenir";
}


.home ul {
  color: #66CC99;
  font-family: "avenir";
}

ul {
  border: 2px grey solid;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 475px;
  font-family: "avenir";

}
